<h1>Bievenidos</h1>
       
            {{#each products}}
                <ul>
                    <p>Title: {{this.title}}</p>
                    <p>Description: {{this.description}}</p>
                    <p>Price: {{this.price}}</p>
                    <p>Status: {{this.status}}</p>
                    <p>Code: {{this.code}}</p>
                    <p>Stock: {{this.stock}}</p>
                    <hr>
                </ul>
            {{/each}}
        

